ul{
	margin: 0px !important;
	padding: 0px !important;
}

#tr{
	background-color: red;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 100000000000;
}

.tr_sortable{
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: nowrap;
}

.tr_tab{
	background-color: lightblue;
    width: 200px;
    max-width: 200px;
    height: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 8px;
    border: solid 1px #99b7c8;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-family: verdana !important;
    font-size: 12px !important;
    -webkit-box-sizing: content-box
}

.tr_this{
	background-color: lightgreen;
}

.tr_favicon{
	height: 17px;
	width: 17px;
	padding-right: 6px;
	-webkit-box-sizing: content-box
}

.tr_url{
	width: 100%;
}

.tr_input{
	width: 100%;
}