.tr_reset{
    all: initial !important;
    * {
        all: unset !important;
    }
}

div#tr{
    position: fixed !important;
    top: -58px !important;/*-58*/
    left: 0px !important;
    min-width: 100vw !important;
    width: 100vw !important;
    max-width: 100vw !important;
    z-index: 100000000000 !important;
    box-shadow: 0px 2px 40px 0px rgba(0, 0, 0, 0.5) !important;
    -webkit-transition: all 0.2s ease !important;
}

div#tr:hover{
    top: 0px !important;
}

div#tr.tr_hover{
    top: 0px !important;
}

div#tr.tr_disabled{
    top: -500px !important;
}

div.tr_tops{
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: nowrap !important;
    min-width: 100% !important;
    width: 100% !important;
    max-width: 100% !important;
    background-color: #31363b !important;
    border-radius: 0px !important;
    box-shadow: 0px -10px 20px 0px rgba(0, 0, 0, 0.45) inset !important;
}

ul.tr_sortable{
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: nowrap !important;
    overflow: hidden !important;
}

ul.tr_sortable_pinned{
    flex-shrink: 0 !important;
}

li.tr_tab{
    background-color: #989a9d !important;
    min-width: 40px !important;
    width: 200px !important;
    max-width: 200px !important;
    display: flex !important;
    flex-direction: row !important;
    justify-content: flex-start !important;
    align-items: center !important;
    padding: 4px 7px !important;
    margin: 0px 1px !important;
    cursor: default !important;
    border-radius: 3px 3px 0px 0px !important;
    box-sizing: content-box !important;
}

li.tr_tab:hover:not(.tr_this){
    background-color: #cccdd0 !important;
}

li.tr_this{
    background-color: #eff0f1 !important;
}

li.tr_pinned{
    width: auto !important;
    min-width: auto !important;
}

img.tr_favicon{
    height: 17px !important;
    width: 17px !important;
}

span.tr_tab_title{
    flex: 1 !important;
    margin: 0px 6px !important;
    text-overflow: ellipsis !important;
    overflow: hidden !important;
    white-space: nowrap !important;
    font-family: verdana !important;
    font-size: 12px !important;
    font-weight: 100 !important;
    cursor: default !important;
}

img.tr_tab_sound{
    height: 12px !important;
    width: 12px !important;
    margin-right: 6px !important;
    cursor: pointer !important;
    opacity: 0.4 !important;
}

img.tr_tab_sound:hover{
    opacity: 0.8 !important;
}

img.tr_tab_close{
    height: 10px !important;
    width: 10px !important;
    cursor: pointer !important;
    opacity: 0.4 !important;
}

img.tr_tab_close:hover{
    opacity: 0.8 !important;
}

div.tr_new_tab{
    display: flex !important;
    align-items: center !important;
    padding: 0px 5px !important;
}

img.tr_new_tab_icon{
    width: 12px !important;
    height: 12px !important;
    cursor: pointer !important;
}

div.tr_url{
    width: 100% !important;
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-around !important;
    background-color: #eff0f1 !important;
}

div.tr_button{
    width: 18px !important;
    height: 18px !important;
    font-family: verdana !important;
    text-align: center !important;
    margin: 4px 3px !important;
    padding: 3px !important;
    border: solid 1px #eaeaea !important;
    border-radius: 4px !important;
    cursor: default !important;
}

div.tr_button:hover{
    border: solid 1px #d3d4d4 !important;
    background: #f4f5f5 !important;
}

img.tr_button_img{
    min-width: 18px !important;
    width: 18px !important;
    max-width: 18px !important;
    min-height: 18px !important;
    height: 18px !important;
    max-height: 18px !important;
    opacity: 0.4 !important;
}

img.tr_button_img:hover{
    opacity: 0.8 !important;
}

input.tr_input{
    flex: 1 !important;
    width: 100% !important;
    font-family: verdana !important;
    font-size: 13px !important;
    font-weight: 100 !important;
    padding: 3px 8px !important;
    margin: 0px !important;
}